<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>about</key>
	<dict>
		<key>app</key>
		<string>SpriteHelper</string>
		<key>author</key>
		<string>Vladu Bogdan</string>
		<key>web</key>
		<string>http://www.gamedevhelper.com</string>
	</dict>
	<key>format</key>
	<string>APPL</string>
	<key>images</key>
	<array>
		<dict>
			<key>path</key>
			<string>Officer.1.png</string>
			<key>size</key>
			<string>{134, 289}</string>
			<key>subimages</key>
			<array>
				<dict>
					<key>aliases</key>
					<array/>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>neck_outline.png</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{16, 14}</string>
					<key>textureRect</key>
					<string>{{104, 22}, {16, 14}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>aliases</key>
					<array/>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>hand_R_outline.png</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{17, 18}</string>
					<key>textureRect</key>
					<string>{{2, 48}, {17, 18}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>aliases</key>
					<array/>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>pelvis.png</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{34, 25}</string>
					<key>textureRect</key>
					<string>{{76, 84}, {34, 25}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>aliases</key>
					<array/>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>foot_LEFT.png</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{29, 15}</string>
					<key>textureRect</key>
					<string>{{31, 33}, {29, 15}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>aliases</key>
					<array/>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>gun-holster.png</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{13, 21}</string>
					<key>textureRect</key>
					<string>{{23, 51}, {13, 21}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>aliases</key>
					<array/>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>hair.png</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{36, 34}</string>
					<key>textureRect</key>
					<string>{{77, 146}, {36, 34}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>aliases</key>
					<array/>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>handRest.png</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{20, 24}</string>
					<key>textureRect</key>
					<string>{{60, 54}, {20, 24}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>aliases</key>
					<array/>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>pant_bottom_RIGHT.png</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{18, 8}</string>
					<key>textureRect</key>
					<string>{{2, 2}, {18, 8}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>aliases</key>
					<array/>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>vest_outline.png</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{38, 46}</string>
					<key>textureRect</key>
					<string>{{2, 219}, {38, 46}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>aliases</key>
					<array/>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>muzzleFlash.png</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{8, 16}</string>
					<key>textureRect</key>
					<string>{{118, 2}, {8, 16}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>aliases</key>
					<array/>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>mouth.png</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{12, 8}</string>
					<key>textureRect</key>
					<string>{{24, 2}, {12, 8}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>aliases</key>
					<array/>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>hat.png</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{50, 29}</string>
					<key>textureRect</key>
					<string>{{55, 113}, {50, 29}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>aliases</key>
					<array/>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>eyes_CLOSED.png</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{18, 13}</string>
					<key>textureRect</key>
					<string>{{95, 2}, {18, 13}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>aliases</key>
					<array/>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>leg_lower_L_outline.png</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{20, 33}</string>
					<key>textureRect</key>
					<string>{{53, 146}, {20, 33}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>aliases</key>
					<array/>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>hand_L_outline.png</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{16, 18}</string>
					<key>textureRect</key>
					<string>{{64, 33}, {16, 18}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>aliases</key>
					<array/>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>angry_mouth.png</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{12, 9}</string>
					<key>textureRect</key>
					<string>{{40, 2}, {12, 9}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>aliases</key>
					<array/>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>gun.png</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{15, 21}</string>
					<key>textureRect</key>
					<string>{{40, 51}, {15, 21}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>aliases</key>
					<array/>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>torso_outline.png</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{38, 52}</string>
					<key>textureRect</key>
					<string>{{44, 229}, {38, 52}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>aliases</key>
					<array/>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>shoulder_R_outline.png</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{27, 27}</string>
					<key>textureRect</key>
					<string>{{2, 105}, {27, 27}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>aliases</key>
					<array/>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>eyes_OPEN.png</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{19, 13}</string>
					<key>textureRect</key>
					<string>{{42, 16}, {19, 13}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>aliases</key>
					<array/>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>foot_RIGHT.png</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{29, 15}</string>
					<key>textureRect</key>
					<string>{{84, 39}, {29, 15}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>aliases</key>
					<array/>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>tennisBall.png</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{13, 13}</string>
					<key>textureRect</key>
					<string>{{87, 19}, {13, 13}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>aliases</key>
					<array/>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>leg_upper_L_outline.png</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{19, 37}</string>
					<key>textureRect</key>
					<string>{{2, 171}, {19, 37}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>aliases</key>
					<array/>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>leg_upper_R_outline.png</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{23, 35}</string>
					<key>textureRect</key>
					<string>{{25, 180}, {23, 35}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>aliases</key>
					<array/>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>eyes_ANGRY.png</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{18, 13}</string>
					<key>textureRect</key>
					<string>{{65, 16}, {18, 13}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>aliases</key>
					<array/>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>head.png</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{36, 41}</string>
					<key>textureRect</key>
					<string>{{51, 184}, {36, 41}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>aliases</key>
					<array/>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>SUNGLASSES.png</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{35, 10}</string>
					<key>textureRect</key>
					<string>{{56, 2}, {35, 10}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>aliases</key>
					<array/>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>handPoint.png</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{18, 28}</string>
					<key>textureRect</key>
					<string>{{33, 113}, {18, 28}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>aliases</key>
					<array/>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>hand_OpenGrab.png</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{24, 22}</string>
					<key>textureRect</key>
					<string>{{83, 58}, {24, 22}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>aliases</key>
					<array/>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>gun-belt.png</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{36, 10}</string>
					<key>textureRect</key>
					<string>{{2, 15}, {36, 10}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>aliases</key>
					<array/>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>forearm_R_outline.png</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{16, 27}</string>
					<key>textureRect</key>
					<string>{{2, 70}, {16, 27}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>aliases</key>
					<array/>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>handOpen.png</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{22, 26}</string>
					<key>textureRect</key>
					<string>{{50, 82}, {22, 26}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>aliases</key>
					<array/>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>leg_lower_R_outline.png</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{21, 31}</string>
					<key>textureRect</key>
					<string>{{2, 136}, {21, 31}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>aliases</key>
					<array/>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>handOpenBackHand.png</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{24, 25}</string>
					<key>textureRect</key>
					<string>{{22, 76}, {24, 25}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>aliases</key>
					<array/>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>shoulder_L_outline.png</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{22, 31}</string>
					<key>textureRect</key>
					<string>{{27, 145}, {22, 31}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>aliases</key>
					<array/>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>forearm_L_outline.png</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{25, 14}</string>
					<key>textureRect</key>
					<string>{{2, 30}, {25, 14}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>path</key>
			<string>Officer.1@2x.png</string>
			<key>size</key>
			<string>{260, 571}</string>
			<key>subimages</key>
			<array>
				<dict>
					<key>aliases</key>
					<array/>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>neck_outline@2x.png</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{33, 28}</string>
					<key>textureRect</key>
					<string>{{208, 43}, {33, 28}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>aliases</key>
					<array/>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>hand_R_outline@2x.png</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{34, 36}</string>
					<key>textureRect</key>
					<string>{{4, 96}, {34, 36}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>aliases</key>
					<array/>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>pelvis@2x.png</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{68, 50}</string>
					<key>textureRect</key>
					<string>{{152, 168}, {68, 50}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>aliases</key>
					<array/>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>foot_LEFT@2x.png</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{58, 30}</string>
					<key>textureRect</key>
					<string>{{63, 65}, {58, 30}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>aliases</key>
					<array/>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>gun-holster@2x.png</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{27, 41}</string>
					<key>textureRect</key>
					<string>{{46, 103}, {27, 41}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>aliases</key>
					<array/>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>hair@2x.png</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{72, 69}</string>
					<key>textureRect</key>
					<string>{{154, 292}, {72, 69}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>aliases</key>
					<array/>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>handRest@2x.png</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{40, 49}</string>
					<key>textureRect</key>
					<string>{{119, 108}, {40, 49}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>aliases</key>
					<array/>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>pant_bottom_RIGHT@2x.png</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{37, 16}</string>
					<key>textureRect</key>
					<string>{{4, 4}, {37, 16}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>aliases</key>
					<array/>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>vest_outline@2x.png</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{76, 93}</string>
					<key>textureRect</key>
					<string>{{4, 437}, {76, 93}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>aliases</key>
					<array/>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>muzzleFlash@2x.png</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{17, 31}</string>
					<key>textureRect</key>
					<string>{{235, 4}, {17, 31}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>aliases</key>
					<array/>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>mouth@2x.png</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{24, 16}</string>
					<key>textureRect</key>
					<string>{{49, 4}, {24, 16}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>aliases</key>
					<array/>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>hat@2x.png</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{100, 58}</string>
					<key>textureRect</key>
					<string>{{111, 226}, {100, 58}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>aliases</key>
					<array/>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>eyes_CLOSED@2x.png</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{37, 25}</string>
					<key>textureRect</key>
					<string>{{191, 4}, {37, 25}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>aliases</key>
					<array/>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>leg_lower_L_outline@2x.png</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{40, 66}</string>
					<key>textureRect</key>
					<string>{{106, 292}, {40, 66}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>aliases</key>
					<array/>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>hand_L_outline@2x.png</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{31, 35}</string>
					<key>textureRect</key>
					<string>{{128, 65}, {31, 35}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>aliases</key>
					<array/>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>angry_mouth@2x.png</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{25, 19}</string>
					<key>textureRect</key>
					<string>{{80, 4}, {25, 19}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>aliases</key>
					<array/>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>gun@2x.png</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{31, 42}</string>
					<key>textureRect</key>
					<string>{{81, 103}, {31, 42}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>aliases</key>
					<array/>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>torso_outline@2x.png</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{77, 104}</string>
					<key>textureRect</key>
					<string>{{88, 459}, {77, 104}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>aliases</key>
					<array/>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>shoulder_R_outline@2x.png</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{54, 54}</string>
					<key>textureRect</key>
					<string>{{4, 210}, {54, 54}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>aliases</key>
					<array/>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>eyes_OPEN@2x.png</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{38, 25}</string>
					<key>textureRect</key>
					<string>{{83, 32}, {38, 25}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>aliases</key>
					<array/>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>foot_RIGHT@2x.png</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{58, 30}</string>
					<key>textureRect</key>
					<string>{{167, 79}, {58, 30}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>aliases</key>
					<array/>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>tennisBall@2x.png</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{26, 26}</string>
					<key>textureRect</key>
					<string>{{174, 37}, {26, 26}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>aliases</key>
					<array/>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>leg_upper_L_outline@2x.png</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{38, 74}</string>
					<key>textureRect</key>
					<string>{{4, 342}, {38, 74}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>aliases</key>
					<array/>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>leg_upper_R_outline@2x.png</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{45, 69}</string>
					<key>textureRect</key>
					<string>{{50, 360}, {45, 69}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>aliases</key>
					<array/>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>eyes_ANGRY@2x.png</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{37, 25}</string>
					<key>textureRect</key>
					<string>{{129, 32}, {37, 25}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>aliases</key>
					<array/>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>head@2x.png</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{71, 83}</string>
					<key>textureRect</key>
					<string>{{103, 368}, {71, 83}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>aliases</key>
					<array/>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>SUNGLASSES@2x.png</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{70, 20}</string>
					<key>textureRect</key>
					<string>{{113, 4}, {70, 20}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>aliases</key>
					<array/>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>handPoint@2x.png</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{37, 57}</string>
					<key>textureRect</key>
					<string>{{66, 225}, {37, 57}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>aliases</key>
					<array/>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>hand_OpenGrab@2x.png</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{48, 44}</string>
					<key>textureRect</key>
					<string>{{167, 116}, {48, 44}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>aliases</key>
					<array/>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>gun-belt@2x.png</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{71, 21}</string>
					<key>textureRect</key>
					<string>{{4, 31}, {71, 21}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>aliases</key>
					<array/>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>forearm_R_outline@2x.png</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{32, 54}</string>
					<key>textureRect</key>
					<string>{{4, 139}, {32, 54}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>aliases</key>
					<array/>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>handOpen@2x.png</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{44, 53}</string>
					<key>textureRect</key>
					<string>{{100, 165}, {44, 53}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>aliases</key>
					<array/>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>leg_lower_R_outline@2x.png</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{42, 63}</string>
					<key>textureRect</key>
					<string>{{4, 272}, {42, 63}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>aliases</key>
					<array/>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>handOpenBackHand@2x.png</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{48, 49}</string>
					<key>textureRect</key>
					<string>{{44, 153}, {48, 49}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>aliases</key>
					<array/>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>shoulder_L_outline@2x.png</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{44, 63}</string>
					<key>textureRect</key>
					<string>{{54, 290}, {44, 63}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>aliases</key>
					<array/>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>forearm_L_outline@2x.png</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{51, 29}</string>
					<key>textureRect</key>
					<string>{{4, 59}, {51, 29}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>path</key>
			<string>Officer.1@4x.png</string>
			<key>size</key>
			<string>{511, 1132}</string>
			<key>subimages</key>
			<array>
				<dict>
					<key>aliases</key>
					<array/>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>neck_outline@4x.png</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{65, 55}</string>
					<key>textureRect</key>
					<string>{{415, 86}, {65, 55}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>aliases</key>
					<array/>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>hand_R_outline@4x.png</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{68, 71}</string>
					<key>textureRect</key>
					<string>{{8, 191}, {68, 71}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>aliases</key>
					<array/>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>pelvis@4x.png</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{135, 100}</string>
					<key>textureRect</key>
					<string>{{303, 336}, {135, 100}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>aliases</key>
					<array/>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>foot_LEFT@4x.png</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{115, 59}</string>
					<key>textureRect</key>
					<string>{{125, 130}, {115, 59}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>aliases</key>
					<array/>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>gun-holster@4x.png</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{53, 82}</string>
					<key>textureRect</key>
					<string>{{92, 205}, {53, 82}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>aliases</key>
					<array/>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>hair@4x.png</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{143, 137}</string>
					<key>textureRect</key>
					<string>{{307, 583}, {143, 137}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>aliases</key>
					<array/>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>handRest@4x.png</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{79, 97}</string>
					<key>textureRect</key>
					<string>{{238, 216}, {79, 97}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>aliases</key>
					<array/>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>pant_bottom_RIGHT@4x.png</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{73, 32}</string>
					<key>textureRect</key>
					<string>{{8, 8}, {73, 32}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>aliases</key>
					<array/>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>vest_outline@4x.png</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{151, 185}</string>
					<key>textureRect</key>
					<string>{{8, 874}, {151, 185}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>aliases</key>
					<array/>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>muzzleFlash@4x.png</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{33, 62}</string>
					<key>textureRect</key>
					<string>{{470, 8}, {33, 62}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>aliases</key>
					<array/>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>mouth@4x.png</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{47, 32}</string>
					<key>textureRect</key>
					<string>{{97, 8}, {47, 32}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>aliases</key>
					<array/>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>hat@4x.png</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{199, 115}</string>
					<key>textureRect</key>
					<string>{{221, 452}, {199, 115}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>aliases</key>
					<array/>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>eyes_CLOSED@4x.png</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{73, 50}</string>
					<key>textureRect</key>
					<string>{{381, 8}, {73, 50}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>aliases</key>
					<array/>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>leg_lower_L_outline@4x.png</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{80, 131}</string>
					<key>textureRect</key>
					<string>{{211, 583}, {80, 131}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>aliases</key>
					<array/>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>hand_L_outline@4x.png</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{62, 70}</string>
					<key>textureRect</key>
					<string>{{256, 130}, {62, 70}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>aliases</key>
					<array/>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>angry_mouth@4x.png</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{49, 37}</string>
					<key>textureRect</key>
					<string>{{160, 8}, {49, 37}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>aliases</key>
					<array/>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>gun@4x.png</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{61, 84}</string>
					<key>textureRect</key>
					<string>{{161, 205}, {61, 84}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>aliases</key>
					<array/>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>torso_outline@4x.png</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{153, 207}</string>
					<key>textureRect</key>
					<string>{{175, 917}, {153, 207}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>aliases</key>
					<array/>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>shoulder_R_outline@4x.png</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{108, 108}</string>
					<key>textureRect</key>
					<string>{{8, 419}, {108, 108}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>aliases</key>
					<array/>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>eyes_OPEN@4x.png</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{76, 50}</string>
					<key>textureRect</key>
					<string>{{166, 64}, {76, 50}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>aliases</key>
					<array/>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>foot_RIGHT@4x.png</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{115, 59}</string>
					<key>textureRect</key>
					<string>{{334, 157}, {115, 59}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>aliases</key>
					<array/>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>tennisBall@4x.png</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{52, 52}</string>
					<key>textureRect</key>
					<string>{{347, 74}, {52, 52}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>aliases</key>
					<array/>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>leg_upper_L_outline@4x.png</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{75, 147}</string>
					<key>textureRect</key>
					<string>{{8, 684}, {75, 147}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>aliases</key>
					<array/>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>leg_upper_R_outline@4x.png</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{90, 138}</string>
					<key>textureRect</key>
					<string>{{99, 720}, {90, 138}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>aliases</key>
					<array/>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>eyes_ANGRY@4x.png</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{73, 50}</string>
					<key>textureRect</key>
					<string>{{258, 64}, {73, 50}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>aliases</key>
					<array/>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>head@4x.png</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{142, 165}</string>
					<key>textureRect</key>
					<string>{{205, 736}, {142, 165}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>aliases</key>
					<array/>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>SUNGLASSES@4x.png</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{140, 40}</string>
					<key>textureRect</key>
					<string>{{225, 8}, {140, 40}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>aliases</key>
					<array/>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>handPoint@4x.png</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{73, 113}</string>
					<key>textureRect</key>
					<string>{{132, 450}, {73, 113}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>aliases</key>
					<array/>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>hand_OpenGrab@4x.png</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{95, 88}</string>
					<key>textureRect</key>
					<string>{{333, 232}, {95, 88}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>aliases</key>
					<array/>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>gun-belt@4x.png</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{142, 41}</string>
					<key>textureRect</key>
					<string>{{8, 61}, {142, 41}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>aliases</key>
					<array/>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>forearm_R_outline@4x.png</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{63, 107}</string>
					<key>textureRect</key>
					<string>{{8, 278}, {63, 107}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>aliases</key>
					<array/>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>handOpen@4x.png</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{88, 105}</string>
					<key>textureRect</key>
					<string>{{199, 329}, {88, 105}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>aliases</key>
					<array/>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>leg_lower_R_outline@4x.png</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{84, 125}</string>
					<key>textureRect</key>
					<string>{{8, 543}, {84, 125}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>aliases</key>
					<array/>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>handOpenBackHand@4x.png</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{96, 98}</string>
					<key>textureRect</key>
					<string>{{87, 305}, {96, 98}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>aliases</key>
					<array/>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>shoulder_L_outline@4x.png</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{87, 125}</string>
					<key>textureRect</key>
					<string>{{108, 579}, {87, 125}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
				<dict>
					<key>aliases</key>
					<array/>
					<key>isFullyOpaque</key>
					<false/>
					<key>name</key>
					<string>forearm_L_outline@4x.png</string>
					<key>spriteOffset</key>
					<string>{0, 0}</string>
					<key>spriteSourceSize</key>
					<string>{101, 57}</string>
					<key>textureRect</key>
					<string>{{8, 118}, {101, 57}}</string>
					<key>textureRotated</key>
					<false/>
				</dict>
			</array>
		</dict>
	</array>
	<key>version</key>
	<integer>1</integer>
</dict>
</plist>
